.DS_Store
.cache
.tmp
node_modules
/libs/uikit-3.0.0-rc.11/dist/*
!/libs/uikit-3.0.0-rc.11/dist/css/
/libs/uikit-3.0.0-rc.11/dist/css/*
!/libs/uikit-3.0.0-rc.11/dist/css/uikit.css
!/libs/uikit-3.0.0-rc.11/dist/css/uikit.min.css
!/libs/uikit-3.0.0-rc.11/dist/css/uikit-rtl.css
!/libs/uikit-3.0.0-rc.11/dist/css/uikit-rtl.min.css
!/libs/uikit-3.0.0-rc.11/dist/js/
/libs/uikit-3.0.0-rc.11/dist/js/*
!/libs/uikit-3.0.0-rc.11/dist/js/uikit.js
!/libs/uikit-3.0.0-rc.11/dist/js/uikit.min.js
!/libs/uikit-3.0.0-rc.11/dist/js/uikit-icons.js
!/libs/uikit-3.0.0-rc.11/dist/js/uikit-icons.min.js
/libs/uikit-3.0.0-rc.11/node_modules
/libs/uikit-3.0.0-rc.11/tests/js/test*
/libs/uikit-3.0.0-rc.11/tests/css/*
libs/uikit-3.0.0-rc.11/.DS_Store
/libs/uikit-3.0.0-rc.11/.idea
config-*.js
