@charset "utf-8";
@import '/vars.less';
.uploader-inited { display: block;}
.jm-uploader-image-large { min-height: 180px; }

uploader {
	display: none;
	.jm-form-large {
		.uk-position-cover {
			border-radius: 4px;				
		}

		.preview-card {
			width:140px;
			height: 140px;
			padding: 4px;
			margin:0 20px 20px 0;
			border-radius: 4px;

			.uk-cover-container{
				width: 132px;
				height: 132px;
				text-align:center;
				progress {
					margin-top:0px;
				}

				.name {
					font-size:0.875rem;
				}
			}
		}

		.preview-card-footer {
			margin-top: 10px;
			text-align:center;
		}

		.btn-helper {
			padding: .2rem .5rem .2rem .5rem;
			font-size: 0.875rem;
			color: @textMutedColor;
		}

		.uk-icon {
			color: @textMutedColor;
		}
	}

	.jm-border-circle {
		.preview-card , .uk-cover-container, .uk-position-cover, img {
			border-radius: 50%;
		}
	}

	.jm-uploader-image {
		padding: 15px;
	}
	.jm-uploader-image.jm-prepare {
		outline: 2px dashed @dividerColor;
	}

	.jm-uploader-image.jm-active, .jm-uploader-image:focus {
		outline: 2px dashed @primaryHoverColor;
	}	
}
