@charset "utf-8";
@import '/desktop/common/desktop.less';

.nav {
	margin-top:15px;
	text-align:center;
	.desp {
		margin-top:.5em;
		cursor: default;
	}

	.image {
		width:132px;
		margin:0 auto;
		border: 1px solid @grey;
		padding: 4px;
	}
}

.alimama {
	margin-top: 15px;
}


.article {
	.title {
		width: 100%px;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #dddddd;

		h1 { font-size:32px; line-height:1.2; }
		span { display:inline-block;margin-top:10px; font-size:14px; line-height:1.2; color:#888888; margin-right:10px; }
		span:first-child {
			margin-left:20px;
		}
		
	}

	.content {
		padding: 15px;

		h1, h2, h3,h4,h5,h6 {}

		p{}

		img {
			max-width: 100%;
		}
	}

}