@charset "utf-8";
@import '/mobile/common/m.less';

// 引入组件
@import '/desktop/components/uploader/image.less';
@import '/desktop/components/editor/html.less';

::-webkit-input-placeholder {
      color: #bdc3cf;
      font-size: 16px;
}

:-moz-placeholder {
      color: #bdc3cf;
      font-size: 16px;
}

::-moz-placeholder {
      color: #bdc3cf;
      font-size: 16px;
}

:-ms-input-placeholder {
      color: #bdc3cf;
      font-size: 16px;
}

.answer_header {
      width: 100%;
      position: fixed;
      top: 0;
      background-color: white;

      .bar {
            width: 100%;

            padding: 1rem 0.8rem;
            box-shadow: 0 0.1rem 0.4rem #eee;

            .left {
                  .btn_back {
                        display: inline-block;
                        width: 1.2rem;
                        height: 1.2rem;
                        background: url({{__STOR__::/__PROJECT_NAME/mobile/assets}}/images/back.svg) no-repeat center center white;
                        background-size: 100% 100%;
                        border: none;
                        outline: none;
                        margin-right: 2rem;
                  }

                  .title {
                        font-size: 1rem;
                        color: #333;
                        font-weight: bold;
                  }
            }
      }

      .question_title {
            width: 100%;
            padding: 0.4rem 0.8rem;
            font-size: 1rem;
            color: #888;
            background-color: whitesmoke;
      }
}

.answer_content_wrap {
      width: 100%;
      padding: 0.8rem;

      .answer_content {
            .author {
                  margin-bottom: 0.6rem;

                  .avatar_author {
                        width: 2rem;
                        height: 2rem;
                        border-radius: 100rem;
                        margin-right: 0.6rem;
                  }

                  .nickname {
                        font-size: 0.8rem;
                        color: #333;
                        font-weight: bold;
                  }

                  .intro {
                        font-size: 0.6rem;
                        color: #888;
                  }
            }

            .options {
                  .btn_follow {
                        display: none;
                        width: 3rem;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        font-size: 0.8rem;
                        background-color: #1e87f0;
                        border-radius: 100rem;
                        color: white;
                        border: none;
                        outline: none;
                  }

                  .btn_unfollow {
                        display: none;
                        width: 4rem;
                        height: 1.6rem;
                        line-height: 1.6rem;
                        font-size: 0.8rem;
                        background-color: whitesmoke;
                        border-radius: 100rem;
                        color: #888;
                        border: none;
                        outline: none;
                  }
            }

            .content {
                  font-size: 0.8rem;
                  color: #333;
                  text-align: justify;
                  margin-bottom: 3rem;

                  p {
                        margin-bottom: 1rem;
                  }
            }
      }
}

.options_wrap {
      width: 100%;
      position: fixed;
      bottom: 0;
      padding: 0.4rem 0.8rem;
      background-color: white;
      border-top: 0.05rem solid whitesmoke;

      .options {
            .btn {
                  padding: 0.4rem 0.6rem;
                  outline: none;
                  border: none;
                  border-radius: 0.2rem;
                  background-color: whitesmoke;

                  .img_agree {
                        width: 1rem;
                        margin-right: 0.4rem;
                  }

                  .text {
                        font-size: 0.8rem;
                        font-weight: bold;
                        margin-right: 0.4rem;
                  }
            }

            .btn_agree {
                  .text {
                        color: #888;
                  }

                  .count {
                        color: #888;
                  }
            }

            .btn_agree_clicked {
                  display: none;

                  .text {
                        color: #1e87f0;
                  }

                  .count {
                        color: #1e87f0;
                  }
            }

            .btn_comment {
                  border: none;
                  outline: none;
                  background-color: transparent;
                  font-size: 12px;
                  font-weight: bold;

                  .img_comment {
                        width: 1.6rem;
                        margin-bottom: 0.2rem;
                  }

                  .text {
                        color: #666;
                        line-height: 1;
                  }

                  .count {
                        color: #666;
                        line-height: 1;
                  }
            }
      }
}

.comment_wrap {
      transform: translateY(100vh);
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transition: all ease 0.3s;

      .comment {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: white;
            position: relative;

            .comment_header {
                  width: 100%;
                  padding: 0.8rem 1rem;
                  position: fixed;
                  top: 0;
                  border-bottom: 0.08rem solid #eee;
                  background-color: white;

                  .left {
                        .img_close {
                              width: 0.8rem;
                              height: 0.8rem;
                              margin-right: 1.2rem;
                        }

                        .text {
                              font-size: 1rem;
                              font-weight: 500;
                              color: #333;
                        }
                  }
            }

            .comment_content {
                  width: 100%;
                  margin-top: 3rem;

                  .comment_item {
                        width: 100%;
                        padding: 1rem 0.6rem;
                        border-bottom: 0.05rem solid #eee;

                        .left {
                              width: 8%;

                              .img_avatar {
                                    width: 100%;
                                    border-radius: 100rem;
                              }
                        }

                        .right {
                              width: 89%;
                              font-size: 0.8rem;

                              .name {
                                    color: #333;
                                    font-weight: bold;
                                    margin-bottom: 0.2rem;
                              }

                              .content_text {
                                    white-space: pre-wrap;
                                    word-break: break-all;
                                    margin-bottom: 1rem;
                                    color: #333;

                                    p {
                                          margin: 0;
                                    }
                              }

                              .options {
                                    .the_left {
                                          .publish_time {
                                                font-size: #666;
                                                font-size: 0.6rem;
                                          }
                                    }

                                    .the_right {
                                          .icon_comment {
                                                width: 1rem;
                                                margin-right: 0.4rem;
                                          }
                                    }
                              }
                        }
                  }
            }

            .comment_footer {
                  width: 100%;
                  padding: 0.8rem 1rem;
                  position: fixed;
                  bottom: 0;
                  border-top: 0.08rem solid #eee;
                  background-color: white;

                  .input_comment {
                        width: 86%;
                        height: 0.8rem;
                        border: none;
                        font-size: 0.8rem;
                        color: #555;
                        letter-spacing: 0.1rem;
                        line-height: 1.6;
                        outline: none;
                        background-color: none;
                        white-space: normal;
                        word-wrap: break-word;
                        word-break: break-all;
                  }

                  .right {
                        width: 10%;

                        .btn_publish_comment {
                              background-color: transparent;
                              border: none;
                              outline: none;
                              color: #1e87f0;
                              font-size: 1rem;
                        }
                  }
            }
      }
}

.comment_detail_wrap {
      transform: translateY(100vh);
      width: 100%;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transition: all ease 0.3s;

      .comment {
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            background-color: white;
            position: relative;

            .comment_header {
                  width: 100%;
                  padding: 0.8rem 1rem;
                  position: fixed;
                  top: 0;
                  border-bottom: 0.08rem solid #eee;
                  background-color: white;

                  .left {
                        .img_close {
                              width: 0.8rem;
                              height: 0.8rem;
                              margin-right: 1.2rem;
                        }

                        .text {
                              font-size: 1rem;
                              font-weight: 500;
                              color: #333;
                        }
                  }
            }

            .subject {
                  width: 100%;
                  margin-top: 3rem;

                  .comment_item {
                        width: 100%;
                        padding: 1rem 0.6rem;
                        border-bottom: 0.05rem solid #eee;

                        .left {
                              width: 8%;

                              .img_avatar {
                                    width: 100%;
                                    border-radius: 100rem;
                              }
                        }

                        .right {
                              width: 89%;
                              font-size: 0.8rem;

                              .name {
                                    color: #333;
                                    font-weight: bold;
                                    margin-bottom: 0.2rem;
                              }

                              .content_text {
                                    white-space: pre-wrap;
                                    word-break: break-all;
                                    margin-bottom: 1rem;
                                    color: #333;

                                    p {
                                          margin: 0;
                                    }
                              }

                              .options {
                                    .the_left {
                                          .publish_time {
                                                font-size: #666;
                                                font-size: 0.6rem;
                                          }
                                    }
                              }
                        }
                  }
            }

            .divide {
                  width: 100%;
                  padding: 0.2rem 0;
                  background-color: whitesmoke;
            }

            .reply_count {
                  width: 100%;
                  padding: 0.6rem;
                  font-size: 0.6rem;
                  color: #333;
                  font-weight: bold;
                  border-bottom: 0.05rem solid #eee;
            }

            .comment_content {
                  width: 100%;

                  .comment_item {
                        width: 100%;
                        padding: 1rem 0.6rem;
                        border-bottom: 0.05rem solid #eee;

                        .left {
                              width: 8%;

                              .img_avatar {
                                    width: 100%;
                                    border-radius: 100rem;
                              }
                        }

                        .right {
                              width: 89%;
                              font-size: 0.8rem;

                              .name {
                                    color: #333;
                                    font-weight: bold;
                                    margin-bottom: 0.2rem;
                              }

                              .content_text {
                                    white-space: pre-wrap;
                                    word-break: break-all;
                                    margin-bottom: 1rem;
                                    color: #333;

                                    p {
                                          margin: 0;
                                    }
                              }

                              .options {
                                    .the_left {
                                          .publish_time {
                                                font-size: #666;
                                                font-size: 0.6rem;
                                          }
                                    }
                              }
                        }
                  }
            }

            .comment_footer {
                  width: 100%;
                  padding: 0.8rem 1rem;
                  position: fixed;
                  bottom: 0;
                  border-top: 0.08rem solid #eee;
                  background-color: white;

                  .input_comment {
                        width: 86%;
                        height: 0.8rem;
                        border: none;
                        font-size: 0.8rem;
                        color: #555;
                        letter-spacing: 0.1rem;
                        line-height: 1.6;
                        outline: none;
                        background-color: none;
                        white-space: normal;
                        word-wrap: break-word;
                        word-break: break-all;
                  }

                  .right {
                        width: 10%;

                        .btn_publish_comment {
                              background-color: transparent;
                              border: none;
                              outline: none;
                              color: #1e87f0;
                              font-size: 1rem;
                        }
                  }
            }
      }
}

.btn_loadmore {
      width: 100%;
      font-size: 0.8rem;
      font-weight: bold;
      letter-spacing: 0.1rem;
      background-color: #1e87f0;
      color: white;
      text-align: center;
      height: 3rem;
      line-height: 3rem;
      margin-bottom: 3rem;
      border: none;
      outline: none;
}