@charset "utf-8";
@import '/vars.less';
@import '/desktop/common/vars.less';

body,html {
	font-family: PingFang SC,Helvetica Neue,Microsoft YaHei,Source Han Sans SC, -apple-system,BlinkMacSystemFont,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
	-ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%; 
	font-size: 16px; width: 100%; 
	color: @textColor;
}

/* ui-kit overload */
[class*=uk-inline] {
	width: 100%;
}

.uk-background-muted {
	background-color: @backgroundMutedColor;
	color:@textMutedColor;
}

.uk-text-primary {
	color: @textPrimaryColor !important;
}

.uk-text-muted {
	color: @textMutedColor !important;
}

.uk-alert {
	border-radius: 4px;
}

.uk-button-small {
	border-radius: 4px;
}
.uk-button-primary {
	color: @lightColor;
	background-color: @primaryColor;
}

.uk-button-primary:hover{
	background-color: @primaryHoverColor;
}

.uk-input, .uk-select, .uk-textarea {
	color:@textDarkColor;
	background: @backgroundMutedColor;
	border-color: @dividerColor;
}

.uk-input:focus, .uk-select:focus, .uk-textarea:focus {
	border-color: @primaryColor;
	color: @textDarkColor;
}

.uk-form-danger, .uk-form-danger:focus {
	border-color: @textDangerColor;
	color: @textDangerColor;
}

.uk-helper {
	padding-top: .2em;
}

.uk-helper-danger {
	display: block;
}

.uk-helper-danger.uk-form-danger {
	display: block;
}

.uk-button {
	border-radius:4px;
}

.uk-form-large:not(textarea):not([multiple]):not([size]) {
	height: 48px;
	border-radius:4px;
	font-size: 1rem;
}

.uk-form-controls.uk-form-large  {
	min-height:48px;
}

textarea.uk-form-large {
	border-radius:4px;
	font-size: 1rem;
}

.uk-checkbox-label.uk-form-large {
	line-height:1;
}

.uk-button.uk-form-large {
	height: 48px;
	line-height: 48px;
	font-size: 1.125rem;
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	border-radius: 4px;
}


.uk-button.uk-form-small {
	border-radius: 4px;
}

.vcode.uk-form-large {
	padding: 0px !important;
	font-size: 0.875rem !important;
	img { width: 150px; height: 40px; }
	line-height: 24px;
	cursor: pointer;
}

a { color: @linkColor; text-decoration: none; }
.uk-link:hover, a:hover { color: @linkHoverColor; text-decoration: none; }
.uk-active>a { color: @linkActiveColor; }


.uk-dropdown.menu {
	min-width: 120px;
	padding: 10px 0;
	
	.uk-navbar-dropdown-nav {
		li {
			font-size: 1rem;
			line-height: 1.25rem;
			a { 
				margin: 0 15px;
				padding: .5em;
				color: @textColor;
			}
			a:hover {
				color: @linkHoverColor;
			}
		}

		li:hover {
			background: @backgroundMutedColor;
		}

		li.uk-active {
			a {
				color: @linkHoverColor ;
			}
		}
	}
}


/* JM-CSS 通用定义 */
.jm-topnav {  
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 0.875rem;
}

.jm-navbar {

	.uk-navbar-nav>li>a {
		font-size: 1rem;
		color: @linkColor;
	}

	.uk-navbar-nav>li>a:hover {
		color: @linkHoverColor;
	}

	.uk-navbar-nav>li.uk-active>a{
		color: @linkActiveColor;
		font-weight: 500;
	}

	.uk-logo img {
		height: 36px;
	}

	border-bottom: 1px solid @dividerColor;
	background-color: @lightColor;
}

.jm-navbar.jm-dark {
	.uk-navbar-nav>li>a {
		color: @textMutedColor;
	}

	.uk-navbar-nav>li>a:hover {
		color: @lightColor;
	}

	background-color:@darkColor;
	border-bottom: none;
}


.jm-subnavbar {
	
	.uk-navbar-nav>li>a {
		font-size: 1rem;
		color: @textMutedColor;
	}
	
	.uk-navbar-nav>li.uk-active>a {
		color: @primaryColor;
	}

	.uk-navbar-nav>li>a:hover{
		color: @lightColor;
	}


}


.jm-quickbar {
	li {
		margin: -1px 0px 0px 0px !important;
		padding: 0px!important;
		border: 1px solid @dividerColor;
	}
	a {
		background: @lightColor;
		padding: 12px;
		margin:0px 0px 0px 0px !important;
		cursor: pointer;
	}

	a:hover {
		background: @primaryColor;
		color: @lightColor;
	}
}

.jm-card-s1 {
	padding: 0px;
	margin: 0px;
	background: #ffffff;

	.uk-card-title {
		font-size: 1rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		border-top: 2px solid @primaryColor;
		padding: 1em 1em 1em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0em 1em 1em 1em;
		overflow: hidden;
		font-size:0.875rem;
	}

	.uk-panel {
		border: none;
	}

	.uk-panel-scrollable {
		resize: none;
	}
}

.jm-list-s1 {
	.jm-item {padding-bottom: .5em;}
	.icon { color: @linkHoverColor; }
	.summary { margin-top:.125em; color: @textMutedColor; font-size: 0.8125rem; }
}

.jm-card-s2 {
	
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	border: 1px solid @dividerColor;
	

	.uk-card-title {
		font-size: 1rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		border-top: 2px solid @primaryColor;
		padding: 1em 1em 0em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0px 1em 1em 1em;
		font-size: 0.875rem;
	}
}

.jm-list-s2 {

	a {
		display: block;
		padding: 1em 0em 1em 0em;
		border-bottom: 1px solid @dividerColor;
	}


	a:last-child {
		border-bottom: none;
	}

	a:hover {
		background-color: @backgroundMutedColor;
	}

	img { height: 100%; }
	.jm-item {padding-bottom: .5em;}
	.summary { margin-top:.2em; color: @textMutedColor; font-size: 0.8125rem; }
	.title { font-size: 1rem; }
}


.jm-card-s3 {
	
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	border: 1px solid @dividerColor;
	

	.uk-card-title {
		font-size: 1rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		border-top: 2px solid @primaryColor;
		padding: 1em 1em 1em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0px 1em 1em 1em;
		font-size: 0.875rem;
	}
}

.jm-list-s3 {

	.uk-card-body {
		padding: 1em .5em;
		p { margin: .2em 0em; }
	}

	.uk-card-title {
		margin-bottom:.5em;
	}

}


.jm-card-s4 {
	
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	border: 1px solid @dividerColor;
	

	.uk-card-title {
		font-size: 1rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		border-top: 2px solid @primaryColor;
		padding: 1em 1em 1em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0px 1em 0em 1em;
		font-size: 0.875rem;
	}
}

.jm-list-s4 {
	
	a {
		margin-bottom: 1em;
	}


	a:hover {
		.player { .setAlpha(1);}
		.summary { .setAlpha(1); }
	}
	.summary {
		font-size: 0.875rem;
		padding:.5em .5em;
		background: rgba(0,0,0,.6);
		color: #ffffff;
		.setAlpha( 0.8 );
	}

	.player {
		color: #ffffff;
		.setAlpha( 0.7 );
	}

	.uk-card-body {
		padding: 1em .5em;
	}

	.uk-card-title {
		margin-bottom:.5em;
	}

	.uk-text-danger .summary {
		color: @textDangerColor;
		background: rgba(0,0,0,1);
	}
	.uk-text-danger .player {
		color: @textDangerColor;
	}
}


.jm-card-s5 {
	
	padding: 0px;
	margin: 0px;
	background: #ffffff;
	border: 1px solid @dividerColor;
	

	.uk-card-title {
		font-size: 1rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		border-top: 2px solid @primaryColor;
		padding: 1em 1em 0em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0px 1em 0em 1em;
		font-size: 0.875rem;
	}
}

.jm-list-s5 {

	a {
		display: block;
		padding: 1em 0em 1em 0em;
		border-bottom: 1px solid @dividerColor;
	}


	a:last-child {
		border-bottom: none;
	}

	a:hover {
		background-color: @backgroundMutedColor;
	}

	img { height: 100%; }
	.summary { margin-top:.2em; font-size: 0.8125rem; color:@textMutedColor; }
	.title { font-size: 0.9rem; }
}


.jm-card-s5.jm-dark {

	background: @darkColor;
	border:none;

	.uk-card-header {
		margin: 0px; 
		border-top: 0px;
		padding: 0em 1em .5em 1em;

		.uk-card-title {
			color: @lightColor;
			font-size: 1.125rem;
		}
	}

	.uk-card-body { 
		color: @textDarkColor;
	}

}

.jm-dark .jm-list-s5 {
	a {
		color: @textMutedColor;
		border: 0px;
	}
	a:hover {
		background:none;
		color: @textPrimaryColor;
	}

	a.active {
		color: @lightColor;
	}

	a.active:hover {
		color: @textPrimaryColor;
	}
}


.jm-card-s6 {
	margin: 0px;
	background: #ffffff;
	border: 1px solid @dividerColor;
	border-top: 2px solid @primaryColor;
	padding: 15px;
	font-size: 1rem;

	.setAlpha( 0.95 );
}



.jm-card-s7 {
	
	padding: 20px 20px 20px 20px;
	margin: 0px;
	background: #ffffff;
	

	.uk-card-title {
		font-size: 1.5rem;
		font-weight: 500;
	}
	.uk-card-header {
		margin: 0px; 
		padding: 1em 1em 0em 1em;
	}

	.uk-card-body {
		margin: 0px;
		padding: 0px 1em 0em 1em;
		font-size: 0.875rem;
	}
}

.jm-list-s7 {
	padding-left: 40px;
	padding-top: 15px;
	a {
		display: block;
		padding:1em;
	}


	a:last-child {
		border-bottom: none;
	}

	a:hover {
		background-color: @backgroundMutedColor;
	}

	img { height: 100%; }
	.summary { margin-top:.2em; font-size: 0.8125rem; color:@textMutedColor; }
	.title { font-size: 0.9rem; }

}



.jm-footer {

	color: @textMutedColor;
	height: auto;
	margin-top: 60px;
	.jm-footer-company {
		font-size: 0.8125rem;
	}


	.jm-footer-service, .jm-footer-contact {
	
		.uk-card-header {
			padding: .5em 1em .2em 1em;
			.uk-card-title {
				font-size: 1.2rem;
				color: @textMutedColor;
			}
		}

		.uk-card-body {
			padding: .5em 1em .5em 1em;
			font-size: 1rem;
			a {
				color: @textMutedColor;
			}

			a:hover {
				color: @textColor;
			}
		}

		.links {
			font-size: 0.875rem;
		}
	}

	.jm-footer-contact {
		.uk-card-body {
			font-size: 1rem;
		}
	}
}


.jm-article {
	
	margin-top: 30px;
	padding-right: 80px;

	.jm-article-title {
		font-size: 1.625rem;
		line-height: 2.25rem;
		margin-bottom: 1.75rem;
	}

	.jm-article-meta {
		.author { color: @linkColor; }
		.author:hover { color: @linkHoverColor; }
		margin-bottom: 1.75rem;
		a, span {
			margin-right:.5em;
		}
	}

	.jm-article-summary {
		font-size: 1.125rem;
		line-height: 1.625rem;

		padding: 1.125rem 1.75rem 1.125rem 1.75rem;
		border-radius:6px;
		background: @backgroundMutedColor;
		color: @textMutedColor;
		margin-bottom: 1.75rem;
	}

	.jm-article-content {
		font-size: 1rem;
		line-height: 1.857rem;
		min-height: 600px;
	
		// 文件下载框
		.mp-file {
			background: @backgroundMutedColor !important;
			color: @textMutedColor !important;
			border: 1px solid @dividerColor !important;
			border-radius: 6px;
			font-size: 1.125rem;
			padding:8px 20px 8px 8px !important;
		}

		.mp-file:hover{
			background: @primaryColor !important;
			color: @lightColor !important;
		}
	}
}


.text-wechat {
	color:#609700 !important;
}

.text-wechat:hover {
	color: @linkHoverColor !important;
};


.iframe-form {
	padding: 40px;
}

.iframe-panel {
    padding: 40px;
}

.jm-tabs {
	background: @lightColor;
	// margin-left:0px;
	a {
		color: @textMutedColor;
	}

	.uk-active a {
		border-bottom: 2px solid @primaryColor;
		color: @linkActiveColor;
	} 
}
.jm-tabs:before {
	left:0px;
	border-color: @dividerColor;
}

.jm-tabs.jm-nav {
	li {
		line-height:2.6rem;
		a {
			font-size: 1rem;
		}
	}
}

.jm-tab-content {
	margin:0;
	padding: 20px;
	background: @lightColor;
	border: 1px solid @dividerColor;
}

@media (min-width: 960px) {
	.uk-form-horizontal .uk-form-label {
		width: 140px;
		padding-left:0px !important;
		padding-right:0px  !important;
		line-height: 48px  !important;
		margin-top:0px;
	}

	.uk-form-horizontal .uk-form-controls {
		margin-left: 155px;
	}

}

/** 常用函数 */
.setAlpha(@alpha) {
	@_a: @alpha * 100;
	opacity: @alpha;
	filter: Alpha(opacity=@_a);
}


