@charset "utf-8";
@import '/vars.less';
html { font-size: 16px; width: 100%;  font-family: "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","ED1F53", Arial,sans-serif, 'Apple Color Emoji';  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;  }
* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box; box-sizing: border-box; margin:0; padding:0;}
a, a:hover{ text-decoration:none; }

/* overload uikit */
.uk-padding-small {
	padding:0.65rem;
}
.uk-background-primary {
	background-color: @primaryColor;
}

.jm-navbar {
	nav {
		height: 52px;
	}
}


.jm-subnav {
	
	background: @lightColor;

	.jm-slider-w {
		border-bottom: 1px solid @dividerColor;
	}

	a {
		padding: .5em .8em .5em .8em;
		color: @linkColor;
		border-bottom: 1px solid @dividerColor;
		background: @lightColor;
		width: auto;
	
	}

	a:hover {
		text-decoration: none;
	}


	.nav-active {
		color: @primaryColor;
		border-bottom: 2px solid @primaryColor;
	}
}


.jm-article {
	
	// margin-top: 30px;
	padding: 15px;

	.jm-article-title {
		font-size: 1.375rem;
		line-height: 1.875rem;
		margin-bottom: 0.75rem;
	}

	.jm-article-meta {
		font-size: 0.75rem;
		.author { color: @linkColor; }
		.author:hover { color: @linkHoverColor; }
		margin-bottom: 1.75rem;
		a, span {
			margin-right:.5em;
		}
	}

	.jm-article-summary {
		font-size: 1.125rem;
		line-height: 1.625rem;
		padding: 1.125rem 1.75rem 1.125rem 1.75rem;
		border-radius:6px;
		background: @backgroundMutedColor;
		color: @textMutedColor;
		margin-bottom: 1.75rem;
	}

	.jm-article-content {
		font-size: 1.125rem;
		line-height: 2rem;
		min-height: 600px;
	
		// 文件下载框
		.mp-file {
			max-width: 100%;
			background: @backgroundMutedColor !important;
			color: @textMutedColor !important;
			border: 1px solid @dividerColor !important;
			border-radius: 6px;
			font-size: 1.125rem;
			padding:8px 20px 8px 8px !important;
		}

		.mp-file:hover{
			background: @primaryColor !important;
			color: @lightColor !important;
		}

		// 视频框
		.mp-cvideo {
			max-width: 100%;
			iframe {
				max-width: 100%;
			}
		}
	}
}


.side-menu {
	.footer {
		font-size: 0.825rem;
		p {
			margin-bottom:.3em;
			margin-top: .2em;
		}
	}
}


.logo-light {
	-webkit-filter: invert(1);
	filter:invert(1);

	-webkit-filter: brightness(100);
	filter:brightness(100);
	
}