@charset "utf-8";
@import '/desktop/common/d.less';
.zhifou_wrap {
      width: 100%;
      overflow-x: hidden;
      .tab {
            width: 100%;
            border-bottom: 1px solid #F0F2F7;
            font-size: 16px;
            color: #1A1A1A;
            .tab_item {
                  padding: 0 20px;
                  .tab_link {
                        display: inline-block;
                        padding: 18px 0;
                        .count {
                              margin-left: 2px;
                        }
                  }
                  .tab_link.is_active {
                        position: relative;
                        font-weight: 600;
                  }
                  .tab_link.is_active::after {
                        position: absolute;
                        right: 0;
                        bottom: -1px;
                        left: 0;
                        height: 3px;
                        background: #1e87f0;
                        content: '';
                  }
            }
      }
      .content_items {
            width: 300%;
            min-height: 200px;
            .content_item {
                  width: 100%/3;
                  box-sizing: border-box;
                  padding: 0px 20px;
                  .title {
                        width: 100%;
                        display: inline-block;
                        font-size: 15px;
                        color: #1a1a1a;
                        font-weight: 600;
                        padding: 12px 0;
                        border-bottom: 1px solid #F0F2F7;
                  }
            }
            .my_questions {
                  display: none;
                  .question_items {
                        width: 100%;
                        .question_item {
                              width: 100%;
                              box-sizing: border-box;
                              padding: 16px 0px;
                              border-bottom: 1px solid #F0F2F7;
                              .question_title {
                                    font-size: 18px;
                                    color: #1a1a1a;
                                    font-weight: 600;
                              }
                              .question_title:hover {
                                    color: #1e87f0;
                              }
                              .answer_options {
                                    color: #8590A6;
                                    font-size: 14px;
                              }
                        }
                  }
            }
            .my_answers {
                  display: none;
                  .answer_items {
                        width: 100%;
                        .answer_item {
                              width: 100%;
                              box-sizing: border-box;
                              padding: 16px 0px;
                              border-bottom: 1px solid #F0F2F7;
                              .question_title {
                                    font-size: 18px;
                                    color: #1a1a1a;
                                    font-weight: 600;
                              }
                              .question_title:hover {
                                    color: #1e87f0;
                              }
                              .answer_content {
                                    margin: 10px 0;
                                    word-break: break-word;
                                    line-height: 1.6;
                                    font-size: 15px;
                                    color: #1a1a1a;
                                    .btn_show_all {
                                          display: inline-block;
                                          background: none;
                                          border: none;
                                          outline: none;
                                          font-size: 14px;
                                          line-height: 25px;
                                          text-align: center;
                                          color: #8590A6;
                                          cursor: pointer;
                                          padding: 0;
                                          .icon_arrow_down {
                                                width: 10px;
                                                margin-left: 4px;
                                          }
                                    }
                              }
                              .answer_options {
                                    color: #8590A6;
                                    font-size: 14px;
                                    .dot {
                                          margin: 0 4px;
                                    }
                              }
                        }
                  }
            }
            .my_followers {
                  display: none;
                  .follower_items {
                        width: 100%;
                        .follower_item {
                              width: 100%;
                              box-sizing: border-box;
                              padding: 16px 0;
                              border-bottom: 1px solid #F0F2F7;
                              .img_avatar {
                                    width: 64px;
                                    height: 64px;
                                    border-radius: 4px;
                              }
                              .options {
                                    width: calc(~'100% - 80px');
                                    .left {
                                          .user_info {
                                                .nickname {
                                                      font-size: 18px;
                                                      color: #1a1a1a;
                                                      font-weight: 600;
                                                }
                                                .line {
                                                      margin: 0 4px;
                                                }
                                                .intro {
                                                      width: 60%;
                                                      font-size: 15px;
                                                      color: #666;
                                                }
                                          }
                                          .user_success {
                                                font-size: 14px;
                                                color: #8590A6;
                                                .success_item {}
                                                .dot {}
                                          }
                                    }
                                    .right {
                                          .btn_cancel {
                                                width: 100px;
                                                height: 32px;
                                                line-height: 32px;
                                                border: none;
                                                outline: none;
                                                border-radius: 4px;
                                                color: white;
                                                background-color: #8590A6;
                                                cursor: pointer;
                                          }
                                    }
                              }
                        }
                  }
            }
            .my_following {
                  .follower_items {
                        width: 100%;
                        .follower_item {
                              width: 100%;
                              box-sizing: border-box;
                              padding: 16px 0;
                              border-bottom: 1px solid #F0F2F7;
                              .img_avatar {
                                    width: 64px;
                                    height: 64px;
                                    border-radius: 4px;
                              }
                              .options {
                                    width: calc(~'100% - 80px');
                                    .left {
                                          .user_info {
                                                .nickname {
                                                      font-size: 18px;
                                                      color: #1a1a1a;
                                                      font-weight: 600;
                                                }
                                                .line {
                                                      margin: 0 4px;
                                                      color: #eee;
                                                }
                                                .intro {
                                                      width: 60%;
                                                      font-size: 15px;
                                                      color: #666;
                                                }
                                          }
                                          .user_success {
                                                font-size: 14px;
                                                color: #8590A6;
                                                .success_item {}
                                                .dot {}
                                          }
                                    }
                                    .right {
                                          .btn_cancel {
                                                width: 100px;
                                                height: 32px;
                                                line-height: 32px;
                                                border: none;
                                                outline: none;
                                                border-radius: 4px;
                                                color: white;
                                                cursor: pointer;
                                                background-color: #1e87f0;
                                                transition: all ease 0.3s;
                                                .text {
                                                      background: url({{__STOR__::/__PROJECT_NAME/desktop/assets}}/images/icon_add_white.png) no-repeat left center;
                                                      padding-left: 24px;
                                                      background-size: 30%;
                                                }
                                          }
                                          .btn_cancel:hover{
                                                background-color:#1277db;
                                          }
                                    }
                              }
                        }
                  }
            }
      }
}