component {
      display: none;
}

.border_box {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
}

.content_box {
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
}

.color_1a {
      color: #1a1a1a;
}

.color_main {
      color: #1e87f0;
}

.color_sub {
      color: #1277db;
}

.bg_main {
      background-color: #1e87f0;
}

.bg_sub {
      background-color: #1277db;
}

.line_clamp_1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
}

.line_clamp_2 {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      text-overflow: ellipsis;
}

.block {
      display: block;
}

.none {
      display: none;
}

.uk-notification-message {
      border-radius: 4px;
      box-shadow: 0 1px 6px rgba(26, 26, 26, 0.15);
      background: white;
      font-weight: bold;
}

.empty_wrap {
      width: 100%;
      margin: 40px 0;

      .title_empty {
            font-size: 15px;
            color: #76839b;
            margin-bottom: 10px;
      }
}

.mask_wrap {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      padding: 1rem;
      z-index: 9999999;

      .message_wrap {
            width: 100%;
            padding: 1.2rem 2.4rem;
            background-color: white;
            border-radius: 1rem;
            box-shadow: 0 0 3rem #ddd;

            .text {
                  font-size: 0.8rem;
                  color: #666;
                  letter-spacing: 0.1rem;
            }
      }
}

.footer_mobile {
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: whitesmoke;
      border-radius: 0.4rem;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
   
      .footer_item_wrap {
            flex: 1;

            .footer_item {
                  flex: 1;
                  padding: 0.4rem 1.6rem;
            }

            .img_footer {
                  width: 1.6rem;
                  margin-bottom: 0.2rem;
            }

            .text {
                  font-size: 0.6rem;
                  color: #707070;
            }

            .active {
                  .text {
                        color: #1e87f0;
                  }
            }
      }
}